{%extends 'base.html'%}
{%load staticfiles%}
{% block header_extends %}
{%endblock%}
{%block title%}
我的网站|登录
{%endblock%}
{%block home_state_active%} active {%endblock%}
{%block snow_style %}{% endblock %}
{%block waifu_right %} {%endblock%}
{%block waifu%} {%endblock%}
{%block content%}
<script src="{% static 'live2d-widget/live2d.min.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{%block snow%}{%endblock%}
<style>
    html, body {
        height: 100%;
    }
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .checkbox {
        font-weight: 400;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type=text] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type=password] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    #stage {
        position: relative;
    }
    #stage img {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    #stage a {
        position: absolute;
        width: 2em;
        height: 2em;
        border-radius: 50%;
    }
    #inner {
        position: relative;
        background-color: #999;
        clip-path: circle(120px at center);
        -webkit-clip-path: circle(120px at center);
    }
    #cover {
        position: absolute;
        background-color: #CB3837;
        width: 100%;
        height: 100%;
        bottom: 10%;
        transition: all 1s;
        box-shadow: 0 0 0 5px rgba(0, 0, 0, .1);
    }
    #text {
        position: absolute;
        bottom: 30%;
        font-size: 2em;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.4;
        font-weight: bold;
    }
    #detail {
        position: absolute;
        background: rgba(255, 255, 255, .1);
        width: 100%;
        height: 10px;
        bottom: 0;
    }
    #handle {
        position: absolute;
        background: #ccc;
        bottom: -2px;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
        height: 8px;
        left: 50%;
        margin-left: -15px;
        width: 30px;
        cursor: pointer;
    }
    #info {
        left: 40px;
        bottom: 20px;
    }
    #refresh {
        right: 40px;
        bottom: 20px;
    }
    #live2d {
        cursor: grab;
    }
    #live2d:active {
        cursor: grabbing;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-xs-10 col-xs-offset-1">
            {% if not user.is_authenticated %}
            <form class="form-signin" action="" method="POST">
                <div id="stage">
                    <div id="inner">
                        <div id="cover">
                            <div id="text">
                                <span style="color: cyan;">天黑</span><span style="color: white">请闭眼</span>
                            </div>
                            <div id="detail"></div>
                            <div id="handle"></div>
                        </div>
                        <canvas class="mb-4" id="live2d" width="300" height="300"></canvas>
                    </div>
                    <a id="info" href="javascript:info()"><i class="fa fa-lg fa-info"></i></a>
                    <a id="refresh" href="javascript:refresh()"><i class="fa fa-lg fa-refresh"></i></a>
                </div>
                <h1 class="h3 mb-3 font-weight-normal">登陆Herschel的博客</h1>
                {% for field in login_form %}
                {% csrf_token %}
                    <label for='{{ field.id_for_label}}'>{{ field.label }}</label>
                    {{ field }}
                    <p class="text-danger">{{ field.errors.as_text }}</p>
                {% endfor %}
                <span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                <input type="submit" class="btn btn-primary btn-login" value="登录">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> 记住我
                    </label>
                </div>
                <p class="mt-5 mb-3 text-muted">Copyleft &copy; Mimi 2020</p>
            </form>
            
            {% else %}
                <span>已登录，跳转到首页...</span>
                <script type="text/javascript">
                    window.location.href='/';
                </script>
            {% endif %}
        </div>
    </div>
</div>
<div class="box">
    <div class="main">
        <div class="canvas-box">
            <canvas id="bgImg" ></canvas>
            <canvas id="slider" ></canvas>
        </div>
        <div class="bar-box">
            <div class="text">向右滑动滑块填充拼图</div>
            <div class="bar">→</div>
        </div>
    </div>
</div>
{%endblock%}
{% block scripts_extends %}
<script type="text/javascript">
    $('.body_text').addClass('text-center')
    var bgCanvas = document.getElementById("bgImg")
    var slider = document.getElementById("slider")
    var bar = document.getElementsByClassName( "bar" )[0]

    var ctx = bgCanvas.getContext("2d")
    var ctx2 = slider.getContext("2d")

    var isDown = false
    var downPointX = 0
    var offsetLeft = 0

    // 设置canvas的宽高
    function setCanvasWH( canvas , w, h ){
        canvas.width = w
        canvas.height = h
    }
    // 获取随机数
    function getRandomNum( min, max ){
        var x = Math.random() * ( max - min ) + min
        return x
    }
    // 获取滑动块像素绘制到前面
    function drawSlider( ctx, canvas, blockData ){
        var blockW = blockData.w + blockData.r * 2
        var _y = blockData.y - blockData.r * 2
        var imageData = ctx.getImageData( blockData.x, _y, blockW, blockW + 10 )
        canvas.width = blockW
        ctx.putImageData( imageData, 0, _y )
    }
    // 绘制滑块
    function draw(ctx, xy = { x: 254, y: 109, r: 10, w: 40 }, type) {
        let x = xy.x,
        y = xy.y,
        r = xy.r,
        w = xy.w;
        let PI = Math.PI;
        //绘制
        ctx.beginPath();
        //left
        ctx.moveTo(x, y);
        //top
        ctx.arc(x + (w + 5) / 2, y, r, -PI, 0, true);
        ctx.lineTo(x + w + 5, y);
        //right
        ctx.arc(x + w + 5, y + w / 2, r, 1.5 * PI, 0.5 * PI, false);
        ctx.lineTo(x + w + 5, y + w);
        //bottom
        ctx.arc(x + (w + 5) / 2, y + w, r, 0, PI, false);
        ctx.lineTo(x, y + w);
        ctx.arc(x, y + w / 2, r, 0.5 * PI, 1.5 * PI, true);
        ctx.lineTo(x, y);
        //修饰，没有会看不出效果
        ctx.lineWidth = 1;
        ctx.fillStyle = "rgba(255, 255, 255, 0.8)";
        ctx.strokeStyle = "rgba(255, 255, 255, 0.8)";
        ctx.stroke();
        ctx[type]();
        ctx.globalCompositeOperation = "xor";
    }

    // 初始化图片到canvas
    function initImage( imgUrl ){
        var index = Math.floor(Math.random()*imgUrl.length)
        var w = 400, h = 300

        ctx.clearRect( 0, 0, w, h )
        ctx2.clearRect( 0, 0, w, h )

        var blockData = {
            w : 40,
            r : 10
        }                   // 切割小块的信息

        // 设置画布基本宽高
        setCanvasWH( slider, w, h )
        setCanvasWH( bgCanvas, w, h )
        // 获取随机宽高
        offsetLeft = getRandomNum( w / 2 , w - blockData.w - blockData.r * 2 )
        var offsetTop = getRandomNum( 0 , h - blockData.w - blockData.r * 2 )
        // 宽高半径和滑块宽
        var point = {
            x: offsetLeft,
            y: offsetTop,
            r: blockData.r,
            w: blockData.w
        }

        var img = document.createElement("img")
        img.onload = function(){
            draw( ctx, point, "fill" )
            draw( ctx2, point, "clip" )
            ctx.drawImage( img, 0, 0, w, h )
            ctx2.drawImage( img, 0, 0, w, h )
            drawSlider( ctx2, slider, point )
        }
        img.src = imgUrl[index]

        bar.addEventListener("mousedown", ( e ) => {
            isDown = true
            downPointX = e.x
        } )

        document.addEventListener("mousemove", throttle( ( e ) => {
            if( isDown ){
                var left = e.x - downPointX > 0 ? e.x - downPointX : 0
                left = left > w - blockData.w - blockData.r - 5 ? w - blockData.w - blockData.r - 5 : left
                slider.style.left = left + "px"
                bar.style.left = ( left > blockData.w ? left + 15 : left ) + "px"
            }
        }) )
        mouseUp()
    }
    function mouseUp(){
        document.addEventListener("mouseup", ( e ) => {
            if( isDown ){
                isDown = false
                if( Math.abs( ( e.x - downPointX ) - offsetLeft ) < 5 ){
                    alert('成功')
                    $('.box').hide()
                    $('.container').show()
                    $('.form-signin').submit()
                } else {
                    alert('验证失败，请重新验证！')
                    $('.box').hide()
                    $('.container').show()
                }
                slider.style.left = 0 + "px"
                bar.style.left = -1 + "px"
                initImage( ["{%static 'images/1.jpg' %}","{%static 'images/2.jpg' %}"] )
            }
        })
    }
    function throttle( fn, interval ){
        var timer = null
        var isFirst = true
        return function(){
            if( isFirst ){
                isFirst = false
                fn.apply( null, arguments )
            }
            if( timer ){
                return 
            }
            timer = setTimeout( () => {
                clearTimeout(timer)
                timer = null
                fn.apply( null, arguments )
            }, interval || 10 )
        }
    }


    initImage( ["{%static 'images/1.jpg' %}","{%static 'images/2.jpg' %}"] )
    //后面可以爬虫许多图片进行展示
    //点击登录后显示滑动验证
    function func(event){
        event.preventDefault();
    }
    $('.btn-login').click(()=>{
        func(event)
        $('.box').show()
        $('.container').hide()
        $('.box').css('margin', '0 auto')
    })

</script>
{% endblock %}