* {
    margin: 0;
    padding: 0;
}
h3{
    margin-top:0;
}
body{
    margin-top: 6.5rem!important;
}
.container-fluid {
    background-color: #302f2f;
}
form.search-form button{
    margin-left: -3em;
    float: right;
}
.toc_h4 a{
    transition: margin-left 1s;
    -webkit-transition: margin-left 1s; /* Safari */
}
.toc_h4 a:hover{
    margin-left: 1em;
}
a:hover{
    text-decoration:none
}
.toc_h4 a.active{
    color: red;
}
.navbar-brand a{font-size:17px;}