body{
    color:rgb(207, 146, 146);
}
.col-sm-4 .panel .panel-body .blog-type-ui{
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
    color:rgb(214, 27, 27);
}
li{
    color:rgb(59, 61, 197)
}
div > p,span{
    color: #000;
}
div>p.blog-content{
    color: #000;
}
div > span > a.reply-style{
    float: right;
}
.blog-title h3{
    margin-top: 0em;
}
.blog-content:not(:last-child){
    margin-bottom: .5em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}
.blog-info:not(:last-child){
    margin-bottom: .5em;
}
.blog-info span{
    color:rgb(29, 82, 197);
}
.blog-info span img,.blog-description span img{
    width:22px;height:20px;margin:0 3px 3px 0;
}
.blog-info span:not(:last-child),.blog-description span:not(:last-child){
    margin-right:.5em;
}
div ul.blog-description{
    list-style-type: none;
}
div ul.blog-description li{
    display: inline-block;
}
div ul.blog-description li:not(:last-child){
    padding-right:1em;
}
.blog-content{
    text-indent: 2em;
}
.comment{
    border-bottom: 1px dashed #ccc;
}
.reply{
    margin-left: 2em;
}
nav.paginator{
    text-align: center;
}
div.blog-more{
    margin-top: 1em;
    margin-bottom:.5em;
}
div.blog-more a:not(:first-child){
    float: right;
}
div.blog-more a:hover{
    background: rgb(224, 255, 255);
}
div ul.blog_date_noday{
    list-style-type: none;
}
/* div.comment-area{
    margin-top: 2em;
} */
/* h3.comment-area-title{
    border-bottom: 1px solid #ccc;
    padding-bottom: .4em;
} */

div.django-ckeditor-widget{
    width: 100%;
}

div#reply_content_container{
    border: 1px solid #ccc;
    background: #f8f8f8;
    border-bottom: none;
    overflow: hidden;
    padding: 0.5em 1em 0em;
}
div.like{
    margin: 1em 1em 0em;
    cursor: pointer;
    display: inline-block;
    color: #337ab7;
}
div.like .active{
    color: plum;
}
div.wrap{
    position: fixed;
    top: 4em;
    right:20em;
    height: 100vh;
}
div.rocket-wrapper{
    position:fixed;
    bottom:0;
    overflow: hidden;
    width: 5em;
    height:4em;
    visibility:hidden;
}
img.rocket{
    width: 5em;
    height:8em;
    margin-top: -4em
}
img.rocket:hover{
    width: 5em;
    height:8em;
    margin-top: -4em;
}
/* blog-info-font */
span.glyphicon-time{
    color: #302f2f;
    padding-top:2px
}
span.glyphicon-heart{
    color:#f10a0a;
}
span.font-author{
    color:rgb(129, 129, 129);
}
span.font-time{
    color:rgb(129, 129, 129);
}
span.font-liulan{
    color:rgb(86, 126, 149);
}
span.font-comment{
    color: rgb(0, 166, 124);
}
span.font-heart{
    color: rgb(247, 135, 137);
}
/* process-bar */
div.process_bar{
    height:.4em;
    background: #f10a0a;
    position: fixed;
    top:50px;
    left:0;
    transition: width 0.5s;
    -webkit-transition: width 0.5s;
}
div.blog_header{
    margin: .4em 0 -.8em 0;
}
div.blog_list{
    border-bottom: solid 1px #ccc;
    box-shadow: 5px 5px 5px #2f97c959;
}
div.blog_list:not(:last-child){
    margin-bottom: 1.5em;
}