{%extends 'base.html'%}
{%load staticfiles%}
{%block waifu_right %}<script src="{%static 'live2d-widget/autoload-right.js'%}"></script>{% endblock %}
{%load likes_extras%}
{%load comment_extras%}
{% block title %}博客列表{% endblock %}
{%block blog_state_active%} active {%endblock%}

{% block content %}
{%block header_extends%}
<link rel="stylesheet" href={% static 'css/base.css' %}>
<link rel="stylesheet" href={% static 'css/blog.css' %}>
{%endblock%}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{%block blog_type_title%}博客列表(共 {{page_of_blogs_obj.paginator.count}}
                        篇){%endblock%}</h3>
                </div>
                <div class="panel-body blog-title">
                    <div>
                        {% comment %} 共有{{ blogs|length }}篇博客 {% endcomment %}
                        {% for blog in blogs %}
                        <a href="{% url 'blog:blog_detail' blog.pk %}">
                            <h3 class="">{{ blog.title }}</h3>
                        </a>
                        <p class="blog-info">
                            <span class="glyphicon glyphicon-tag" aria-hidden="true"><a
                                    href="{%url 'blog:blog_type' blog.blog_type.pk%}">{{blog.blog_type}}</a></span>
                            <span class="glyphicon glyphicon-time"
                                aria-hidden="true">{{ blog.created_time | date:'Y-m-d' }}</span>
                            <span>阅读：{% get_read_num blog %}</span>
                            <span>评论：{% get_comment_count blog %}</span>
                            <span>点赞：{% get_like_count blog %}</span>
                        </p>
                        <p class="blog-content">{{ blog.content|striptags|truncatechars_html:100}}</p>
                        {% empty %}
                        <p>--暂无博客，敬请期待--</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <nav class="paginator" aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_of_blogs_obj.has_previous %}
                    <li>
                        <a href="?page={{page_of_blogs_obj.previous_page_number}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
                    {% endif %}

                    {% for page_number in page_range %}
                        {% if page_of_blogs_obj.number == page_number %}
                            <li class="active"><span>{{page_number}}</span></li>
                        {% else %}
                            {% if page_number == '...' %}
                            <li class="disabled"><span>{{page_number}}</span></li>
                            {% else %}
                            <li class=""><a href="?page={{page_number}}">{{page_number}}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page_of_blogs_obj.has_next %}
                    <li>
                        <a href="?page={{page_of_blogs_obj.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">博客分类</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <ul class="blog-type-ui">
                            {%for blog_type in blog_types %}
                            <li>
                                <a href="{%url 'blog:blog_type' blog_type.pk%}">
                                    {{blog_type.type_name}} ({{blog_type.blog_count}})
                                </a>
                            </li>
                            {%empty%}
                            <li>--暂无分类--</li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">日期归档</h3>
                </div>
                <div class="panel-body">
                    <ul class="blog_date_noday">
                        {% for blog_date, blog_count in blog_dates.items %}
                        <a href="{% url 'blog:blog_date' blog_date.year blog_date.month %}">
                            <li>{{blog_date|date:'Y年m月'}} ({{blog_count}})</li>
                        </a>
                        {%empty%}
                        <li>--暂无归档-</li> 
                        {%endfor%}
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}