{%extends 'base.html'%}
{%load staticfiles%}
{%load comment_extras%}
{%load likes_extras%}
{%block snow_style %}{% endblock %}
{%block title%}{{ blog.title }}{%endblock%}
{%block blog_state_active%} active {%endblock%}
{%block header_extends%}
<link rel="stylesheet" href={% static 'css/base.css' %}>
<link rel="stylesheet" href={% static 'css/blog.css' %}>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{%endblock%}
{%block content%}
{%block snow %}{%endblock%}
<ul style="list-style-type:none; position:fixed; left:2em" class="hidden-xs toc">
</ul>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-1"></div>
        <div class="col-xs-12 col-lg-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="blog_header">
                        <h3 class="panel-title">{{ blog.title }}</h3>
                        <ul class="blog-description">
                            <span role="li"><img src="{% static 'images/zuozhe.png' %}"><span class="font-author">{{ blog.author }}</span></span>
                            <span class="glyphicon glyphicon-tag" aria-hidden="true"><a
                                href="{%url 'blog:blog_type' blog.blog_type.pk%}">{{blog.blog_type}}</a></span>
                            <span class="glyphicon glyphicon-time"
                                aria-hidden="true"><span class="font-time">{{ blog.created_time | date:'Y-m-d' }}</span></span>
                            <span><img src="{% static 'images/liulan.png' %}"><span class="font-liulan">{% get_read_num blog %}阅读</span></span>
                            <span><img src="{% static 'images/comments.png' %}"><span class="font-comment">{% get_comment_count blog %}评论</span></span>
                            <span class="glyphicon glyphicon-heart"><span class="font-heart">{% get_like_count blog %}点赞</span></span>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="blog-detail-content">{{ blog.content | safe }}</div>
                    <div class="like" onclick="likeChange(this, '{{ blog.pk }}');">
                        <span class="glyphicon glyphicon-star-empty {%get_like_status blog%}"></span>
                        <span class="like_num">{% get_like_count blog%}</span>
                        <span>喜欢</span>
                    </div>
                    <div class="blog-more">
                        {% if previous_blog %}
                        <a type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" 
                        title="{{previous_blog.title}}" href="{% url 'blog:blog_detail' previous_blog.pk %}"><< 上一篇</a>
                        {% else %}
                        {% endif %}

                        {% if next_blog %}
                        <a type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" 
                        title="{{next_blog.title}}" href="{% url 'blog:blog_detail' next_blog.pk %}">下一篇 >></a>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title comment-area-title">参与评论</h3>
                </div>
                <div class="panel-body">
                    <div class="comment-area">
                        {% if user.is_authenticated %}
                            <form id="comment_form" action="{% url 'comment:update_comment' %}", method="POST">
                                {% csrf_token %}
                                <label for="input-comment">{{ user.get_nickname_or_username }}，欢迎评论~</label>
                                <div id="reply_content_container" style="display:none;">
                                    <p>回复：</p>
                                    <div id="reply_content">

                                    </div>
                                </div>
                                {% get_comment_form blog as comment_form %}
                                {% for form in comment_form %}
                                {{ form }}
                                {% endfor %}
                                <span id="comment_errors" class="text-danger pull-left"></span>
                                <button type="submit" class="btn btn-primary pull-right" value="评论">评论</button>
                            </form>
                        {% else %}
                            尚未登录,登陆之后才能评论哦~
                            <a class="btn btn-primary" href="{% url 'userprofile:login' %}?from={{ request.get_full_path }}">登录</a>
                            <span> or </span>
                            <a class="btn btn-danger" href="{% url 'userprofile:register' %}?from={{ request.get_full_path }}">注册</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title comment-area-title">评论列表</h3>
                </div>
                <div class="panel-body">
                    <div class="comment-area">
                        <div id="comment_list">
                            {% get_comments blog as comments%}
                            {% for comment in comments %}
                                <div id="root_{{comment.pk}}" class="comment">
                                    <span>{{ comment.user.get_nickname_or_username }}</span>
                                    <span>({{ comment.created_time | date:"Y-m-d H:i:s" }}):</span>
                                    <span><a class="reply-style" href="javascript:reply( {{ comment.pk }} );">回复</a></span>
                                    <div id="comment_{{comment.pk}}">
                                        {{ comment.text | safe}}
                                    </div>
                                
                                    {% for reply in comment.root_comments.all %}
                                        <div class="reply">
                                            <span>{{ reply.user.get_nickname_or_username }}</span>
                                            <span>({{ reply.created_time | date:"Y-m-d H:i:s" }}):</span>
                                            <span>回复</span>
                                            <span>{{ reply.reply_to.get_nickname_or_username}}</span>
                                            <span><a class="reply-style" href="javascript:reply( {{ reply.pk }} );">回复</a></span>
                                            <div id="comment_{{reply.pk}}">
                                                {{ reply.text | safe}}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% empty %}
                                <span id="no_comment">暂无评论</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-1"></div>
    </div>
</div>
<div class="wrap">
    <div class="rocket-wrapper"><img class="rocket" src="{% static 'images/rocket.png' %}"></div>
</div>
<div class="process_bar"></div>
{%endblock%}
{% block scripts_extends %} 
<script type="text/javascript">
    function reply(reply_comment_id){
        //设置值
        $('#reply_comment_id').val(reply_comment_id);
        var html = $('#comment_' + reply_comment_id).html();
        $('#reply_content').html(html);
        $('#reply_content_container').show();

        $('html').animate({scrollTop: $('#comment_form').offset().top - 110}, 300, function(){
            CKEDITOR.instances['id_text'].focus();
        });
    };
    function likeChange(obj, object_id){
        var is_like = obj.getElementsByClassName('active').length == 0;
        $.ajax({
            url: "{% url 'likes:like_change' %}",
            type:'GET',
            //content_type = JSON.stringify(content_type);
            data: {
                object_id: object_id,
                is_like: is_like,
            },
            cache:false,
            success:function(data){
                //console.log(data);
                if (data['status']=='Success'){
                    //更新点赞状态
                    var element = $(obj.getElementsByClassName('glyphicon'));
                    if(is_like){
                        //点赞数+1
                        element.addClass('active');
                    }else{
                        element.removeClass('active');
                    }
                    //更新点赞数
                    var like_num = $(obj.getElementsByClassName('like_num'));
                    like_num.text(data['liked_num'])
                }else{
                    alert(data['message']);
                }
            },
            error:function(xhr){
                console.log(xhr);
            }
        });
    };
    $('#comment_form').submit(function(){
        //先清空
        $('#comment_errors').text('');
        //判断是否为空（这里是获取到ckeditor对象）
        if(CKEDITOR.instances['id_text'].document.getBody().getText().trim()==''){
            $('#comment_errors').text('评论内容不能为空');
            return false;
        }
        // 将数据更新到textarea中
        CKEDITOR.instances['id_text'].updateElement();
        $.ajax({
            url: "{% url 'comment:update_comment' %}",
            type:'POST',
            data: $(this).serialize(),
            cache:false,
            success:function(data){
                //插入数据
                if(data['status'] == 'Success'){
                    //判断是否是评论
                    if ($('#reply_comment_id').val()== '0'){ 
                        //插入评论
                        var comment_html = '<div id="root_'+data['pk']+'" class="comment"><span>'+data['username']+'</span><span> ('+data['created_time']+'):</span><span>'+data['reply_to']+'</span><span><a style="float:right;" href="javascript:reply( '+data['pk']+' );">回复</a></span><div id="comment_'+data['pk']+'">'+data['text']+'</div></div>';
                        $('#comment_list').prepend(comment_html);
                    }else{
                        //插入回复
                        var reply_html = '<div class="reply"><span>'+data['username']+'</span><span> ('+data['created_time']+'):</span><span>回复</span><span>'+data['reply_to']+'</span><span><a style="float:right;" href="javascript:reply( '+data['pk']+' );">回复</a></span><div id="'+data['pk']+'">'+data['text']+'</div></div>';
                        $('#root_'+ data['root_pk']).append(reply_html);
                    };
                    
                    // 清空编辑框的内容
                    $('#comment_errors').text('评论成功');
                    CKEDITOR.instances['id_text'].setData('');
                    $('#reply_content_container').hide();
                    $('#reply_comment_id').val('0');
                    $('#no_comment').remove()
                }else{
                    $('#comment_errors').text(data['errmsg'])
                };
            },
            error:function(xhr){
                console.log(xhr);
            }
        });
        return false;
    });
    $('.rocket-wrapper').on('click', function(){
        $(this).animate(function(){$('.rocket').css('margin-top','-4em')}(), 1000);
        $(this).animate({bottom: '1000px'},600);
        $('html, body').animate({scrollTop: 0}, 600)
        setTimeout(()=>{$(this).removeAttr('style')},1200)
        
    });
    $(window).scroll(
        function(){
            if($(window).scrollTop()>100){
                $('.rocket-wrapper').css("visibility","visible")
            }else{
                $('.rocket-wrapper').css("visibility","hidden")
            }

            function IsPC() {
                var userAgentInfo = navigator.userAgent;
                var Agents = ["Android", "iPhone",
                            "SymbianOS", "Windows Phone",
                            "iPad", "iPod"];
                var flag = true;
                for (var v = 0; v < Agents.length; v++) {
                    if (userAgentInfo.indexOf(Agents[v]) > 0) {
                        flag = false;
                        break;
                    }
                }
                return flag;
            }
            var dh = $(document).height(),
            wh = $(window).height();

            var flag = IsPC();
            var offsetNum = 0
            if (flag){
                //offsetNum = $(window).scrollTop()/(document.body.clientHeight-document.body.scrollTop-699);
                offsetNum = $(window).scrollTop()/(dh-wh);
            }else{
                offsetNum = $(window).scrollTop()/(dh-wh);
                //offsetNum = $(window).scrollTop()/(document.body.clientHeight-document.body.scrollTop-499);
            }
            
            var a = offsetNum*100+'%';
            $('.process_bar').css('width', a)
        });
    $(function() { $("[data-toggle='tooltip']").tooltip(); }); // bootstrap工具提示
    $(function() {  // 目录，目前只支持h4\(^o^)/~...
        var arr = new Array();
        var s= '<li class="toc_h4">目录</li>';
        for(var i=0;i<$('h4').length;i++){
            arr.push(($('h4')[i].outerText));
            $('h4')[i].setAttribute('id',('_'+(i+1)));
            s += '<li class="toc_h4"><a href="'+'#_'+(i+1)+'">'+ ($('h4')[i].outerText) +'</a></li>';
            $('.toc')[0].innerHTML=s
            $('.toc_h4').css('margin-bottom','0.5em')
            $('.toc_h4:first-child').css('margin-top','5em')
        }
    });
    $(function() {
        $('.toc_h4 a').click(function() {
            $(this).css('list-style-type', 'none')
            var target = document.getElementById(this.hash.slice(1));
            if (!target) return;
            var targetOffset = $(target).offset().top - 60;
            $('html,body').animate({
                scrollTop: targetOffset
            },
            300);
            return false;
        });
    });
    $(window).scroll(function(){ //滚动到标题，目录高亮
        for(var i=0;i<$('h4').length-1;i++){
            if ($(window).scrollTop() >= $('h4')[i].offsetTop && $(window).scrollTop() < $('h4')[i+1].offsetTop){
                $('.toc_h4 a[href="'+'#_'+(i+1)+'"]').addClass('active')
                for(var j=i+1;j<$('h4').length;j++){
                    $('.toc_h4 a[href="'+'#_'+(j+1)+'"]').removeClass('active')
                }
                if(i>1 && $('h4')[i-1].offsetTop<=$(window).scrollTop() < $('h4')[i].offsetTop){
                    $('.toc_h4 a[href="'+'#_'+(i-1)+'"]').removeClass('active')
                }
            }else{
                $('.toc_h4 a[href="'+'#_'+(i+1)+'"]').removeClass('active')
            }
        }
        // 修复最后一个不高亮的bug
        if ($(window).scrollTop() >= $('h4#_'+(i+1)).offset().top-61 && $(window).scrollTop()<$('.comment-area-title').offset().top) {
            $('.toc_h4:last-child>a').addClass('active')
        }
        else{
            $('.toc_h4:last-child>a').removeClass('active')
        }

    });
</script>
{% endblock %}
