{%extends 'base.html'%}
{%load staticfiles%}
{%block waifu_right %}<script src="{%static 'live2d-widget/autoload-right.js'%}"></script>{% endblock %}
{%load likes_extras%}
{%load comment_extras%}
{% block title %}博客列表{% endblock %}
{%block blog_state_active%} active {%endblock%}

{% block content %}
{%block header_extends%}
<link rel="stylesheet" href={% static 'css/base.css' %}>
<link rel="stylesheet" href={% static 'css/blog.css' %}>
{%endblock%}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{%block blog_type_title%}博客列表(共 {{page_of_blogs_obj.paginator.count}}
                        篇){%endblock%}</h3>
                </div>
                <div class="panel-body blog-title">
                    <div>
                        {% comment %} 共有{{ blogs|length }}篇博客 {% endcomment %}
                        {% for blog in blogs %}
                        <div class="blog_list">
                        <a href="{% url 'blog:blog_detail' blog.pk %}">
                            <h4 class="">{{ blog.title }}</h4>
                        </a>
                        <p class="blog-info">
                            <span class="glyphicon glyphicon-tag" aria-hidden="true"><a
                                    href="{%url 'blog:blog_type' blog.blog_type.pk%}">{{blog.blog_type}}</a></span>
                            <span class="glyphicon glyphicon-time"
                                aria-hidden="true"><span class="font-time">{{ blog.created_time | date:'Y-m-d' }}</span></span>
                            <span><img src="{% static 'images/liulan.png' %}"><span class="font-liulan">{% get_read_num blog %}阅读</span></span>
                            <span><img src="{% static 'images/comments.png' %}"><span class="font-comment">{% get_comment_count blog %}评论</span></span>
                            <span class="glyphicon glyphicon-heart"><span class="font-heart">{% get_like_count blog %}点赞</span></span>
                        </p>
                        <p class="blog-content">{{ blog.content|striptags|truncatechars_html:280|remove_head|safe}}</p>
                        </div>
                        {% empty %}
                        <p>--暂无博客，敬请期待--</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <nav class="paginator" aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_of_blogs_obj.has_previous %}
                    <li>
                        <a href="?page={{page_of_blogs_obj.previous_page_number}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
                    {% endif %}

                    {% for page_number in page_range %}
                        {% if page_of_blogs_obj.number == page_number %}
                            <li class="active"><span>{{page_number}}</span></li>
                        {% else %}
                            {% if page_number == '...' %}
                            <li class="disabled"><span>{{page_number}}</span></li>
                            {% else %}
                            <li class=""><a href="?page={{page_number}}">{{page_number}}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page_of_blogs_obj.has_next %}
                    <li>
                        <a href="?page={{page_of_blogs_obj.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">博客分类</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <ul class="blog-type-ui">
                            {%for blog_type in blog_types %}
                            <li>
                                <a class="btn btn-default btn-xs" href="{%url 'blog:blog_type' blog_type.pk%}">{{blog_type.type_name}}
                                    <span class="badge">{{blog_type.blog_count}}</span>
                                </a>
                            </li>
                            {%empty%}
                            <li>--暂无分类--</li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">日期归档</h3>
                </div>
                <div class="panel-body">
                    <ul class="blog_date_noday">
                        {% for blog_date, blog_count in blog_dates.items %}
                        <li>
                            <a class="btn btn-default btn-xs" href="{% url 'blog:blog_date' blog_date.year blog_date.month %}">
                                {{blog_date|date:'Y年m月'}}
                                <span class="badge">{{blog_count}}</span>
                            </a>
                        </li>
                        {%empty%}
                        <li>--暂无归档-</li> 
                        {%endfor%}
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts_extends %} 
<script>
    $(function(){
        function max_read(){
            var string = $('.font-liulan').text().replace(/[^0-9]/ig," ").split(' ')
        .filter(function (s) {
            return s && s.trim(); // 注：IE9(不包含IE9)以下的版本没有trim()方法
        });
        string = string.map(Number);
        s = Math.max(...string);
        if (s!=0){
            index = string.indexOf(s);  //找到阅读数的最大值位置
            var title = $('.font-liulan')[index].parentNode.parentNode.previousSibling.previousElementSibling.text
            max_comment()
            $('.font-liulan')[index].parentNode.parentNode.previousSibling.previousElementSibling.innerHTML=
            '<h4>'+title+' <span style="" class="label label-danger">热读文章</span></h4>'
            $('.label').css('font-size', '13px')}
        }

        function max_comment(){
            var string2 = $('.font-comment').text().replace(/[^0-9]/ig," ").split(' ')
            .filter(function (s) {
                return s && s.trim(); 
            });
            string2 = string2.map(Number);
            s2 = Math.max(...string2);
            if (s2!=0){

                index2 = string2.indexOf(s2);  //找到评论数的最大值位置
                var title2 = $('.font-comment')[index2].parentNode.parentNode.previousSibling.previousElementSibling.text
                $('.font-comment')[index2].parentNode.parentNode.previousSibling.previousElementSibling.innerHTML=
                '<h4>'+title2+' <span style="" class="label label-danger">评论最多</span></h4>'
                $('.label').css('font-size', '12px')
            }
        }
        max_read()
        function IsPC() {
            var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                        "SymbianOS", "Windows Phone",
                        "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
            return flag;
            
        }
        var flag = IsPC();
        if(flag){
            $('.blog_list').css('padding', '0 2em')
            $('.blog_list').css('margin', '0 3em 3em 3em')
        }
        
    });
</script>
{% endblock %}